body{
   background-image: url('https://images.pexels.com/photos/2726370/pexels-photo-2726370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
   background-size: cover; 
   background-attachment: fixed;
   background-repeat: no-repeat;
   height: 100vh;
}

nav {
   background-color: #fff;
   padding: 0 20px;
   display: flex;
   align-items: center;
   overflow: hidden;
   opacity: 0.4;  
}
.header_nav .brand {
   color: red;
   font-size: 30px;
}

.content {
   min-height: calc(100vh - 70px - 64px);
}

.movies {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 1rem;
}

.search-btn {
   position: absolute;
   top: 0;
   right: 0;
}

.movie {
   display: flex;
   flex-direction: column;
 }
 

label:not(:last-child){
   margin-right: 1rem;
}

.categories label{
   color: #fff;
}

.page-footer {
   padding: 0;
   opacity: 0.4;
   background-color: #fff;
}

.page-footer .text_page{
   color: red;
}

